@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .number{
            display: flex; wrap;
            background-color: black;
            height: 400px;
        }
        .number > div{
            padding: 40px;
            background-color: aqua;
            margin: 10px;
            width: 100px;
            text-align: center;
            font-size: 30px;
            line-height: 20px;
        }
    </style>
</head>
<body>
    <div class="number">
        <div style="order: 3; flex-grow: 4">0</div>
        <div style="order: 4; flex-grow: 1">1</div>
        <div style="order: 0; flex-grow: 3">2</div>
        <div style="order: 1; flex-grow: 1">3</div>
        <div style="order: 2; flex-grow: 5">4</div>
        <div style="flex-shrink: 0">5</div>
        <div style="align-self: center">6</div>@*
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>*@
    </div>
</body>
</html>